body
{
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 60px;
}
body::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
}   
#navBar
{
    width: 99%;
    height: 70px;
    top: 0;
    border: 10px solid red;
    position: fixed;
    background-color: black;
}
#navBar img
{
    height: 70%;
    width: auto;
    margin: 5px;
    float: left;
}
#nomeEmpresa
{
    color:  #FFC42C;
    font-size: xx-large;
    margin: 10px;
    float: left;
    padding-right: 50px;
    border-right: 2px solid white;
    line-height: 50px;
}
.anchorNav
{
    font-size: larger;
    text-decoration: none;
    color: chocolate;
}

#imagem_do_inicio  
{
    right: 50px;
    top: 60px;
    display: flex;
    justify-content: center;
}
#imagem_do_inicio img{
    display: block;
    width: 70%;
    height: 40%;
}