body 
{
    font-family: Arial, Helvetica, sans-serif;
}

h1 ,h3
{
    padding-left: 100px;
    margin: 0;
}

h1 
{
    padding-top: 140px;
    margin-bottom: 20px;
}

#imagem_do_inicio  
{
    position: absolute;
    right: 80px;
    top: 80px;
    display: flex;
    justify-content: center;
}
#imagem_do_inicio img{
    display: block;
    width: 70%;
    height: 50%;
}

#divBotoes
{
    position: relative;
    width: 250px;
    height: 55px;
    left: 170px;
    top: 20px;
    display: flex;
    gap: 30px;
}

#botaoOrcamentoIncio
{
    background-color: orangered;
    border-radius: 10px;
}

.botoes 
{

}